@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spline+Sans:wght@300;500;700&display=swap');

.headerContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.contentContainer{

    width: 100vw;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
  
}



