@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Spline+Sans:wght@300;500;700&display=swap');

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #171717;
}

.blur{

    position: absolute;
    top: 300px;
    left: 300px;
    box-shadow: 0 0 1000px 50px #F97300;
    z-index: 0;
}

.presentation{
    width: 100%;
    min-height: 80vh;
    max-height: fit-content;
    margin-top: 8rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
    
}

.namePresentation{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 7rem;
    box-sizing: border-box;
}


.namePresentation h2{
    height: fit-content;
    font-size: 2.4em;
    font-family: 'Spline Sans';
    font-weight: 700;
    margin: 0;
}

.namePresentation span{
    color: #F97300;
}


.namePresentation h3{
    font-size: 1.5em;
    font-family: 'Spline Sans';
    font-weight: 400;
}

.namePresentation p{
    margin-top: 1px;
    font-size: 1.2em;
    font-family: 'Poiret One';
    word-spacing: 2px;
    letter-spacing: 1px;
    max-height: 12rem;
}
.btnName{
    display: flex;
    justify-content: center;
}
.btnName a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 50px;
    width: 150px;
    background-color: #F97300;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: 'Spline Sans';
    font-size: 1em;
    cursor: pointer;
    
}

.imagePresentation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100%;
}
.imagePresentation img{
    
    box-sizing: border-box;
    height: auto;
    width: 80%;
    border-radius: 10px;
}


.aboutMe{
    width: 80%;
    height: 720px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.project{
    width: 80%;
    height: min-content;
    margin-bottom: 100px;
}

.contactMe{
    width: 80%;
    margin-bottom: 100px;
}


@media (max-width: 1000px) {
    .namePresentation{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        box-sizing: border-box;
    }
    .imagePresentation img{
        margin-bottom: 3rem;
    }
    .aboutMe{
        width: 100%;
        padding-left: 2rem;
        padding-right: 3rem;
        box-sizing: border-box;
        height: min-content;
        margin-bottom: 10rem;
    }

    .project{
        width: 90%;
        padding-left: 2rem;
        padding-right: 4rem;
        box-sizing: border-box;
        height: min-content;
        margin-bottom: 10rem;
    }
}

@media (max-width: 700px){

    .namePresentation{
        box-sizing: border-box;
    }

    .imagePresentation img{
        margin-bottom: 3rem;
    }

    .aboutMe{
        width: 100%;
        height: min-content;
    }
    
    
    .project{
        width: 100%;
        padding: 0;
    }
    
    .contactMe{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
}